{% extends "learning_logs/base.html" %}


{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>
    <p class="lead"> Hello! Today is a special day for me, and to mark the occasion, I’ve decided to create a website for you. This site will allow you to keep track of everything you’re learning. I’m currently studying for my TOEIC exam and I’ve already created my account. I invite you to do the same by creating your own account and sending me your login details along with the entries you’ve made on the site. As a bonus, there are gifts waiting for you upon registration! Have a wonderful day!</p>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
</div>
{% endblock page_header %}
